.timeline-container {
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
  position: relative;
}

.timeline-line {
  position: relative;
  height: 4px;
  background: #ccc;
  margin-top: 50px;
  margin-bottom: 80px; // ✅ separa los botones
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline-step {
  flex: 1;
  position: relative;
  text-align: center;

  .circle {
    width: 16px;
    height: 16px;
    background: #bbb;
    border-radius: 50%;
    margin: auto;
    transition: background 0.3s;
  }

  .label {
    font-size: 0.8rem;
    margin-top: 8px;
    white-space: nowrap;
  }

  .date {
    font-size: 0.7rem;
    color: #666;
    white-space: nowrap;
  }

  &.active .circle {
    background: #4caf50;
  }
}

.cart-icon {
  position: absolute;
  top: -20px;
  left: 0;
  transition: left 0.5s ease-in-out;

  svg {
    width: 32px;
    height: 32px;
  }
}

// .cart-icon {
//   width: 32px;
//   height: 32px;
//   // background-image: url('/assets/icons/cart-icon.svg'); // ✅ Fijo aquí
//   background-image: url('/assets/icons/Carrito.svg'); // ✅ Fijo aquí
//   background-repeat: no-repeat;
//   background-size: contain;
//   position: absolute;
//   top: -20px;
//   transition: left 0.5s ease-in-out;
// }



.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px; // ✅ extra separación debajo del timeline
}
