<div class="timeline-container">
  <div class="timeline-line">
    <div class="cart-icon" [style.left.%]="currentStep() * 25">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#4caf50" viewBox="0 0 24 24">
    <path d="M7 18c-1.104 0-1.99.896-1.99 2s.886 2 1.99 2 2-.896 2-2-.896-2-2-2zm10 0c-1.104 0-1.99.896-1.99 2s.886 2 1.99 2 2-.896 2-2-.896-2-2-2zm-11.016-5.125l1.016-1.125h10.484c.74 0 1.387-.403 1.723-1.03l3.62-6.845c.112-.21.169-.442.169-.675 0-.828-.672-1.5-1.5-1.5h-16.517l-.949-2h-2.013v2h1l3.6 7.59-1.35 1.45c-.39.4-.6.94-.6 1.5 0 1.104.896 2 2 2h12v-2h-11.484z"/>
  </svg>
</div>
    <div class="timeline-step" *ngFor="let step of steps; let i = index">
      <div [class.active]="i <= currentStep()">
        <div class="circle"></div>
        <p class="label">{{ step.label }}</p>
        <p class="date">{{ step.date }}</p>
      </div>
    </div>
  </div>
</div>

<div class="controls">
  <button (click)="prevStep()">Anterior</button>
  <button (click)="nextStep()">Siguiente</button>
</div>
